<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>@@title</title>
    <meta name="description" content="★★★">
    <meta property="og:title" content="★★★">
    <meta property="og:description" content="★★★">
    <meta property="og:type" content="website">
    <meta property="og:url" content="★★★">
    <meta property="og:image" content="★★★">
    <meta property="og:site_name" content="★★★">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<div id="l-document">
    <header id="l-header" class="l-header js-animation-head">
        <div class="l-header__wrapper">
            <h1 id="sitelogo"><a href="../">LOGO</a></h1>
            <a class="nav-global-menu">
                <span class="b1" aria-hidden="true"></span>
                <span class="b2" aria-hidden="true"></span>
                <span class="b3" aria-hidden="true"></span>
            </a>
            <nav class="nav-global-wrap">
                <ul class="nav-global">
                    <li><a href="★★★" class="nav-item">Trang chủ</a></li>
                    <li><a href="★★★" class="nav-item">Đăng nhập</a></li>
                    <li><a href="★★★" class="nav-item">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </header>