<footer id="l-footer" class="l-footer">
	<div class="l-footer__wrapper">
		<div class="l-footer__contact">
			<p class="l-footer__logo"><img src="../assets/images/logo.png" alt="" class="fluid-image"></p>
			<ul class="l-footer__lst-contact">
				<li><i class="fa-solid fa-location-dot"></i>205 Lê Văn Sỹ, Phường 13, Quận Phú Nhuận, TPHCM</li>
				<li><i class="fa-solid fa-phone"></i>0858090767</li>
				<li><a href=""><i class="fa-solid fa-envelope"></i>lienhe@diancungkhue.com</a></li>
			</ul>
		</div>
		<div class="l-footer__nav">
			<div class="l-footer__nav__ele">
				<h3 class="l-footer__tit">Blog</h3>
				<ul class="l-footer__lst">
					<li><a href="#">Ăn gì hôm nay</a></li>
					<li><a href="#">Sống khỏe mỗi ngày</a></li>
					<li><a href="#">Địa điểm mới</a></li>
				</ul>	
			</div>
			<div class="l-footer__nav__ele">
				<h3 class="l-footer__tit">Sản phẩm</h3>
				<ul class="l-footer__lst">
					<li><a href="#">Tốt cho sức khỏe</a></li>
					<li><a href="#">Giảm cân</a></li>
					<li><a href="#">Thức uống dinh dưỡng</a></li>
				</ul>
			</div>
			<div class="l-footer__nav__ele">
				<h3 class="l-footer__tit">Xem thêm về chúng tôi</h3>
				<p>Đăng ký nhận tin từ chúng tôi</p>
				<form action="">
					<input type="email" name="email" class="base-input" placeholder="Email của bạn...">
					<button class="base-submit">Đăng ký</button>
				</form>
			</div>
			
		</div>
		
		
	</div>
	<p class="txt-copyright"><small>All rights reserved. Copyright &copy; 2023 PHANTU.Dev</small></p>
</footer>