<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
@@include('parts/header_head.html', {"title": '@@title'})
<body>
<div id="l-document">
    <header id="l-header" class="l-header js-animation-head">
        <div class="l-header__wrapper">
            <h1 id="sitelogo"><a href="@@webRoot/"><img src="@@webRoot/assets/images/logo.png" alt="" class="fluid-image"></a></h1>
            <a class="nav-global-menu">
                <span class="b1" aria-hidden="true"></span>
                <span class="b2" aria-hidden="true"></span>
                <span class="b3" aria-hidden="true"></span>
            </a>
            <nav class="nav-global-wrap">
                <ul class="nav-global">
                    <li><a href="★★★" class="nav-item">Trang chủ</a></li>
                    <li><a href="★★★" class="nav-item">Đăng nhập</a></li>
                    <li><a href="★★★" class="nav-item">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </header>