.wrp-container {
	position: relative;
	margin: 0 auto;
	padding: 0 2rem;
	width: 100%;
	max-width: 134rem;
	box-sizing: border-box;
	z-index: 3;
	&::after {
		content: "";
		display: block;
		clear: both;
	}
	&-fluid {
		position: relative;
		margin: 0 auto;
		padding: 10rem 0;
		width: calc(100% - 8rem);
		background: var(--white);
		border-top-left-radius: 3rem;
		border-top-right-radius: 3rem;
	}
}

.wrp-button {
	margin-top: 6rem;
	text-align: center;
}